__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.egg-info/
dist/
build/

venv/
env/
.env

.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace
*.pydevproject

*.log
*.tmp
*.temp
*.swp

secrets.json  # Ou qualquer outro nome de arquivo que contenha informações sensíveis

Thumbs.db
.DS_Store
